/*! == THEME STYLES == */

/*===========GLOBAL==========*/
.container{
	padding-left:rem-calc(20);
	padding-right:rem-calc(20);
}
.primary_light{
	background-color: $brand-primary-light;
	color:$white;
	h1, h2, h3, h4, h5, h6{color:$white;}
}
.primary_dark{
	background-color: $brand-primary;
	color:$white;
	h1, h2, h3, h4, h5, h6{color:$white;}
}
.white{
	background-color: $white;
	color: $brand-primary;
}
.seperator{
	margin-bottom:rem-calc(25);
	&:after{
		content: '';
		display: block;
		margin-top:rem-calc(25);
		width: rem-calc(20);
		height: rem-calc(2);
		background-color: $brand-secondary;
	}
}
.seperator_reverse{
	&:before{
		content: '';
		display: block;
		margin-top:rem-calc(25);
		width: rem-calc(20);
		height: rem-calc(2);
		background-color: $brand-secondary;
	}
}
.section{
	padding-top: rem-calc(75);
	padding-bottom: rem-calc(75);
}
.stickyContainer{
	position:relative;
}
.fixedTop{
	position:fixed;
}
.show-sm{
	display:none;
}
/*===========HEADER==========*/
header{
	background-color:$brand-primary;
	#logo{
		a{
			#slogo{
				margin-top:rem-calc(-15);
			}
		}
		path {
            fill: white;
	            transition: $fastEffect;
        }
	}
	#nav{
		a{
			display: block;
			padding:0 rem-calc(10);
			line-height: rem-calc(75);
			&:before{
				content: '';
				position:absolute;
				top: 0;
				left: 50%;
				bottom:0;
				right: 50%;
				border-bottom:rem-calc(3) solid $white;
				transition: $fastEffect;
			}
			&:hover{
				color: $white;
				&:before{
					left: 0;
					right: 0;
					transition: $fastEffect;
				}
			}
		}
		ul{
			display: block;
			text-align: left;
			li{
				padding-left:rem-calc(20);
				padding-right:rem-calc(20);
			}
		}
	}
	#off-canvas-open{
		display:none;
		position:absolute;
		left:rem-calc(20);
		top:rem-calc(20);
		a{
			font-size:rem-calc(20);
			color:$white;
			cursor: pointer;
		}
	}
}
.scrolled{
	#off-canvas-open{
		a{
			color:$brand-primary;
		}
	}
}
#off-canvas-backdrop{
	position:fixed;
	z-index:1001;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(black, 0.6);
	visibility:hidden;
	opacity:0;
	transition:$fastEffect;
	&.open{
		visibility:visible;
		opacity:1;
		transition:$fastEffect;
		transition-delay:.2s
	}
}
#off-canvas{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	max-width:rem-calc(300);
	z-index:1002;
	background-color:$brand-primary-light;
	box-shadow: 5px 0px 9px 0px rgba(0,0,0,0.3);
	transform:translateX(-110%);
	transition:$fastEffect;
	display:none;
	&.open{
		transform:translateX(0%);
		transition:$fastEffect;
	}
	a{
		color:$white;
	}
	#off-canvas-close{
		position:absolute;
		top:rem-calc(20);
		right:rem-calc(20);
		font-size:rem-calc(20);
		color:$white;
	}
	.logo-container{
		a{
			display:block;
			height:rem-calc(50);
			text-align:center;
			margin-top:rem-calc(50);
			svg{
				height:rem-calc(45);
			}
			path {
	            fill: white;
	        }
		}
	}
	#off-canvas-menu-container{
		padding:0;
		padding-top:rem-calc(20);
	}
	ul{
		display:inline-block;
		li{
			width:100%;
			a{
				display:block;
				padding:rem-calc(20) rem-calc(10);
				text-align:center;
				position:relative;
				&:after{
					content:'';
					height:1px;
					width: 40%;
					bottom:0;
					position:absolute;
					background-color:$white;
					left:50%;
					transform:translateX(-50%);
					opacity:.6;
				}
			}
		}
	}
	.phone, .email{
		text-align:center;
		padding-top:rem-calc(20);
	}
	.seperator{
		&:after{
			display:none;
		}
	}
	.social{
		text-align:center;
		font-size:rem-calc(25);
		i{
			padding:rem-calc(0) rem-calc(10);
		}
	}
	.address{
		display:none;
	}
}
#visual_nav{
	padding-top:rem-calc(10);
	padding-left:rem-calc(15);
	padding-right:rem-calc(15);
	position:relative;
	.visual_logo{
		max-height: rem-calc(25);
		svg{
			max-height: rem-calc(25);
			margin:0 auto;
		}
	}
	.visual_dropdown{
		color: $brand-secondary;
		padding:rem-calc(5);
	}
	.visual_button{
		text-align: right;
		.button{
			padding:rem-calc(7.5) rem-calc(25);
		}
	}
	.visual_menu{
		position:absolute;
		background-color:$brand-primary;
		top:100%;
		left:rem-calc(-15);
		padding: rem-calc(50) rem-calc(100);
		transform: translateX(-120%);
		transition:$fastEffect;
		#accordion-sector{
			label{
				color: $white;
				cursor: pointer;
			} 
		}
		&.open{
			transform: translateX(0);
			transition:$fastEffect;
		}
	}
	#menu-visual-menu{
		a{
			text-transform: uppercase;
			font-size: rem-calc(12);
			line-height: 3;
			&:hover{
				color: $brand-secondary;
			}
		}
	}
}

/*===========BODY==========*/
.page-title{
	margin-top:rem-calc(50);
}
#top_heading{
	padding: rem-calc(10);
	#heading{
		padding-top: rem-calc(75);
		padding-bottom: rem-calc(75);
	}
	.copy{
		padding-bottom:rem-calc(20);
	}
}
.doubleButton{
	> .button{
		margin-right: rem-calc(20);
	}
}
#featured{
	.featured_container{
		padding-bottom:rem-calc(50);
	}
	.featured-image{
		opacity:1;
		transition:$fastEffect;
		width:100%;
		padding-bottom:56.25%;
		background-color:$brand-light-grey;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		&:hover{
			opacity: .6;
			transition:$fastEffect;
		}
	}
	.feature-content{
		min-height:65%;
	}
	.taxonomy{
		li{
			line-height:2;
			text-transform:uppercase;
		}
	}
}
#visual{
	.content{
		padding-bottom:rem-calc(50);
	}
}
.studio-nav{
	text-transform: uppercase;
	a{
		position:relative;
		margin-bottom:rem-calc(20);
		padding-left:rem-calc(20);
		line-height: 150%;
		color: $white;
		&:before{
			content: '+';
			position: absolute;
			top:50%;
			left: 0;
			opacity: 0;
			transform: translateY(-58%);
			transition: $fastEffect;
			transition-delay: .3s;
			color: $brand-secondary;
		}
		&:after{
			content: '';
			position: absolute;
			top:50%;
			left: rem-calc(10);
			transform: translateY(-50%);
			transition: $fastEffect;
			width:0%;
			height: 1px;
			background-color:$brand-secondary;
		}
		&:hover{
			&:before{
				opacity: 1;
				transition: $fastEffect;
			}
			&:after{
				transition: $fastEffect;
				transition-delay: .3s;
				width:110%;
			}
		};
	}
}
.studio-content{
	margin-bottom: rem-calc(150);
	&.content{
		max-width: rem-calc(450);
	}
	.accordion-container{
		margin-top:rem-calc(100);
		> div{
			margin-bottom:rem-calc(75);
		}
		.accordion-title{
			position:relative;
			cursor:pointer;
			transition:$fastEffect;
			font-size:105%;
			text-transform:uppercase;
			color: $brand-secondary;
			&:before{
				content: '+';
				position:absolute;
				top:0;
				left:rem-calc(-20);
				transition:$fastEffect;
			}
			&.open{
				&:before{
					transform:rotate(45deg);
					transition:$fastEffect;
				}
			}
			&:hover{
				transition:$fastEffect;
				color:$white;
			}
		}
	}
	.profile-details{
		margin:0;
		max-width: rem-calc(550);
		.profile-image{
			padding-bottom:100%;
			width:100%;
			background-color:$brand-light-grey;
			background-size:cover;
			background-position:center;
			background-repeat: no-repeat;
		}
		.name{
			font-size:rem-calc(16);
		}
		.role{
			font-size:rem-calc(11);
			color: $brand-secondary;
		}
	}
}
.work-filter{
	input{
		display: none;
	}
	.work-title{
		position:relative;
		cursor:pointer;
		padding-bottom:rem-calc(20);
		font-size:rem-calc(11);
		text-transform: uppercase;
		color: $brand-secondary;
		&:before{
			content: '+';
			position:absolute;
			top:0;
			left:rem-calc(-20);
			transition:$fastEffect;
		}
		&.open{
			&:before{
				transform:rotate(45deg);
				transition:$fastEffect;
			}
		}
	}
	.filter-container{
		margin-bottom:rem-calc(50);
	}
	.filter{
		margin-bottom:rem-calc(10);
		font-size:rem-calc(12);
		line-height:2;
		text-transform:uppercase;
		.checkbox{
			input[type=checkbox]:checked + span{
					color: $brand-secondary;
			}
		}
	}
}
.works-container{
	@for $i from 1 to 20 {
		&:nth-child(#{$i}) { 
			a{
				.work-image{
					transition-delay: $i * 0.2s; }
				}
			}
	}
	a{
		display:block;
		transition:$fastEffect;
		color:$white;
		.work-image{
			transition:$fastEffect;
			padding-bottom:56.25%;
			width:100%;
			background-color:$brand-light-grey;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			
		}
		.work-title{
			h5{
				margin-bottom:0;
				padding-bottom:rem-calc(10);
				transition:$fastEffect;
				line-height: 1.2;
			}
		}
		&:hover{
			transition:$fastEffect;
			color:$brand-secondary;
			.work-title{
				h5{
					transition:$fastEffect;
					color:$brand-secondary;
				}
			}
		}
	}
}

/*-----------GALLERY ------------*/
.gallery{
	$galleryGrid: 12; 
	$galleryCalc: $galleryGrid - 1;
	grid-gap: 1.5em;
	grid-template-columns: repeat($galleryGrid, 1fr);
	display: grid;
	width: 100%;
	padding-top:5rem;
	.img-wrapper {
		@for $i from 1 to 20 {
		&:nth-child(#{$i}) { transition-delay: $i * 0.2s; }
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:nth-of-type(#{$galleryCalc}n - 10), &:nth-of-type(#{$galleryCalc}n - 7), &:nth-of-type(#{$galleryCalc}n - 4), &:nth-of-type(#{$galleryCalc}n), &:nth-of-type(#{$galleryCalc}n - 3), &:nth-of-type(#{$galleryCalc}n - 2), &:nth-of-type(#{$galleryCalc}n - 1){
		grid-column: span 12;
	}
	&:nth-of-type(#{$galleryCalc}n - 9), &:nth-of-type(#{$galleryCalc}n - 6), &:nth-of-type(#{$galleryCalc}n - 3){
		grid-column: span 4;
	}
	&:nth-of-type(#{$galleryCalc}n - 8), &:nth-of-type(#{$galleryCalc}n - 5), &:nth-of-type(#{$galleryCalc}n - 2){
		grid-column: span 8;
	}
	a{
		opacity: 0;
		transition: $fastEffect;
		background-color:black;
		height: rem-calc(350);
		display: block;
		&:hover{
				opacity: 0.4;
				transition: $fastEffect;
			};
		}
	}
}

.projects{
	grid-gap: 1.5em;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(7, 1fr);
	display: grid;
	width: 100%;
	.project-container{
	    grid-column: span 12;
	    display:grid;
	    align-items:stretch;
		&:nth-of-type(8n - 7), &:nth-of-type(8n - 2){
	      grid-column: span 12;
	      grid-row: span 2;
	    }
	    &:nth-of-type(8n - 6), &:nth-of-type(8n - 3), &:nth-of-type(8n - 1), &:nth-of-type(8n){
	      grid-column: span 6;
	      grid-row: span 1;
	    }
	    &:nth-of-type(8n - 5), &:nth-of-type(8n - 4){
	      grid-column: span 6;
	      grid-row: span 2;
	    }
	    min-height: rem-calc(300);
	    @for $i from 1 to 20 {
			&:nth-child(#{$i}) {
			transition-delay: $i * 0.1s; }
		}
		.project-image{
	    	display:flex;
	    	align-items: center;
	    	position:relative;
			width:100%;
			height:100%;
			padding:rem-calc(10) rem-calc(100);
			background-color:$brand-light-grey;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
	    	&:before{
	    		content: '';
	    		position: absolute;
				z-index: 1;
	    		top: 0;
	    		bottom:0;
	    		left: 0;
	    		right: 0;
				opacity:1;
				transition:$fastEffect;
	    		background: rgb(0,0,0);
				background: linear-gradient(235deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); 
	    	}
	    	&:hover{
	    		&:before{
					opacity:0.6;
					transition:$fastEffect;
	    		}
	    	}
	    	> div{
	    		position:relative;
	    		z-index: 2;
	    	}
		}
	}
}

.visual_section{
	padding-left:rem-calc(25);
	padding-right:rem-calc(25);
	.hero{	
		margin-top:rem-calc(25);
		padding:rem-calc(25);
		position:relative;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom:0;
			left: 0;
			right: 0;
			opacity:1;
			transition:$fastEffect;
			background: rgb(0,0,0);
			background: linear-gradient(235deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); 
		}
	}
}
.visual_hero{
	display:flex;
	justify-content: center;
	align-items:center;
	position: relative;
	z-index: 2;
	h1{
		color:$white;
		font-size:rem-calc(36);
	}
}
.visual_gallery{
	$galleryGrid: 12; 
	$galleryCalc: $galleryGrid - 1;
	grid-gap: rem-calc(25);
	grid-template-columns: repeat($galleryGrid, 1fr);
	display: grid;
	width: 100%;
	padding-top: rem-calc(25);
	padding-bottom: rem-calc(50);
	.img-wrapper {
		@for $i from 1 to 20 {
		&:nth-child(#{$i}) { transition-delay: $i * 0.2s; }
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:nth-of-type(#{$galleryCalc}n - 10), &:nth-of-type(#{$galleryCalc}n - 3){
		grid-column: span 3;
	}
	&:nth-of-type(#{$galleryCalc}n - 9), &:nth-of-type(#{$galleryCalc}n - 4){
		grid-column: span 9;
	}
	&:nth-of-type(#{$galleryCalc}n - 8), &:nth-of-type(#{$galleryCalc}n - 7), &:nth-of-type(#{$galleryCalc}n - 6), &:nth-of-type(#{$galleryCalc}n - 2), &:nth-of-type(#{$galleryCalc}n - 1), &:nth-of-type(#{$galleryCalc}n){
		grid-column: span 4;
	}
	&:nth-of-type(#{$galleryCalc}n - 5){
		grid-column: span 12;
	}
	a{
		opacity: 0;
		transition: $fastEffect;
		background-color:black;
		height: rem-calc(350);
		display: block;
		&:hover{
				opacity: 0.4;
				transition: $fastEffect;
			};
		}
	}
}
#design{
	svg{
		max-width:rem-calc(175);
		margin-left:rem-calc(5);
		transform:translateY(20px);
		opacity:0;
		transition:$slowEffect;
	}
	h2{
		margin-top:rem-calc(-20);
	}
	&:hover{
		svg{
			transform:translateY(0);
			opacity:1;
			transition:$slowEffect;
		}
	}
}
.footer-contact{
	a{
		color: $white;
	}
	.phone{
		padding-bottom:rem-calc(20);
	}
	.address{
		line-height:2;
	}
	.social{
		padding-bottom:rem-calc(20);
		font-size:rem-calc(10);
		a{
			padding-right: rem-calc(10);
		}
	}
	.directions{
		margin-top: rem-calc(25);
		margin-bottom: rem-calc(50);
	}
}
/*===========FOOTER==========*/
footer{
	.colophon{
		.divider{
			padding: 0 rem-calc(20);
		}
	}
	.silverless {
	    margin-top: -5px;
	 
	    #logo {
	        height: 30px;
	    }

	    #silverless {
	        opacity:0.6;
	        transition:opacity 0.5s ease-in-out;
	        path {
	            fill: white;
	        }
	    }

	    #created {
	        opacity:0;
	        transform: translateY(50px);
	        transition: 1s transform ease, 2s opacity ease;
	        path {
	            fill: white;
	        }
	    }

	    &:hover {
	        cursor:pointer;

	        #silverless {
	            opacity:0.8;
	        }

	        #created {
	              opacity:0.8;
	              transform: translateY(0);
	        }
	    }
	}
	.work-together{
		h2{
			text-transform:capitalize;
		}
	}
	.footer-seperator{
		min-height: rem-calc(100);
	}
}