/*! == THEME STYLES == */

/*===========GLOBAL==========*/
.primary_light{
	background-color: $brand-primary-light;
	color:$white;
	h1, h2, h3, h4, h5, h6{color:$white;}
}
.primary_dark{
	background-color: $brand-primary;
	color:$white;
	h1, h2, h3, h4, h5, h6{color:$white;}
}
.white{
	background-color: $white;
	color: $brand-primary;
}
.seperator{
	margin-bottom:rem-calc(25);
	&:after{
		content: '';
		display: block;
		margin-top:rem-calc(25);
		width: rem-calc(20);
		height: rem-calc(2);
		background-color: $brand-secondary;
	}
}
.seperator_reverse{
	&:before{
		content: '';
		display: block;
		margin-top:rem-calc(25);
		width: rem-calc(20);
		height: rem-calc(2);
		background-color: $brand-secondary;
	}
}
.section{
	padding-top: rem-calc(75);
	padding-bottom: rem-calc(75);
}
.stickyContainer{
	position:relative;
}
.fixedTop{
	position:fixed;
}

/*===========HEADER==========*/
header{
	background-color:$brand-primary;
	#logo{
		
	}
	#nav{
		a{
			display: block;
			line-height: rem-calc(75);
			padding:0 rem-calc(10);
		}
	}
}

/*===========BODY==========*/
.page-title{
	margin-top:rem-calc(50);
}
#top_heading{
	padding: rem-calc(10);
	#heading{
		padding-top: rem-calc(75);
		padding-bottom: rem-calc(75);
	}
	.copy{
		padding-bottom:rem-calc(20);
	}
}
.doubleButton{
	> .button{
		margin-right: rem-calc(20);
	}
}
#visual{
	.content{
		padding-bottom:rem-calc(50);
	}
}
.studio-nav{
	text-transform: uppercase;
	li{

	}
	a{
		color: $white;
		line-height: 150%;
		margin-bottom:rem-calc(20);
		position:relative;
		padding-left:rem-calc(20);
		&:before{
			content: '+';
			color: $brand-secondary;
			position: absolute;
			top:50%;
			transform: translateY(-58%);
			left: 0;
			opacity: 0;
			transition: $fastEffect;
			transition-delay: .3s;
		}
		&:after{
			width:0%;
			position: absolute;
			top:50%;
			left: rem-calc(10);
			transform: translateY(-50%);
			height: 1px;
			content: '';
			background-color:$brand-secondary;
			transition: $fastEffect;
		}
		&:hover{
			&:before{
				opacity: 1;
				transition: $fastEffect;
			}
			&:after{
				width:110%;
				transition: $fastEffect;
				transition-delay: .3s;
			}
		};
	}
}
.studio-content{
	margin-bottom: rem-calc(150);
	&.content{
		max-width: rem-calc(450);
	}
	.accordion-container{
		margin-top:rem-calc(100);
		> div{
			margin-bottom:rem-calc(75);
		}
		.accordion-title{
			color: $brand-secondary;
			text-transform:uppercase;
			cursor:pointer;
			font-size:105%;
			position:relative;
			transition:$fastEffect;
			&:before{
				content: '+';
				position:absolute;
				left:rem-calc(-20);
				top:0;
				transition:$fastEffect;
			}
			&.open{
				&:before{
					transform:rotate(45deg);
					transition:$fastEffect;
				}
			}
			&:hover{
				color:$white;
				transition:$fastEffect;
			}
		}
	}
	.profile-details{
		max-width: rem-calc(550);
		margin:0;
		.profile-image{
			width:100%;
			padding-bottom:100%;
			background-color:$brand-light-grey;
		}
		.name{
			font-size:rem-calc(16);
		}
		.role{
			color: $brand-secondary;
			font-size:rem-calc(11);
		}
	}
}
.work-filter{
	input{
		display: none;
	}
	.work-title{
		color: $brand-secondary;
		font-size:rem-calc(11);
		text-transform: uppercase;
		position:relative;
		padding-bottom:rem-calc(20);
		cursor:pointer;
		&:before{
			content: '+';
			position:absolute;
			left:rem-calc(-20);
			top:0;
			transition:$fastEffect;
		}
		&.open{
			&:before{
				transform:rotate(45deg);
				transition:$fastEffect;
			}
		}
	}
	.filter-container{
		margin-bottom:rem-calc(50);
	}
	.filter{
		text-transform:uppercase;
		line-height:2;
		font-size:rem-calc(12);
		margin-bottom:rem-calc(10);
		.checkbox{
			input[type=checkbox]:checked + span{
					color: $brand-secondary;
			}
		}
	}
}
.works-container{
	a{
		display:block;
	}
	.work-image{
		background-color:$brand-light-grey;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		width:100%;
		padding-bottom:56.25%;
	}
	.work-title{
		h5{
			margin-bottom:0;
		}
	}
}

.footer-contact{
	a{
		color: $white;
	}
	.phone{
		padding-bottom:rem-calc(20);
	}
	.social{
		padding-bottom:rem-calc(20);
		font-size:rem-calc(10);
		a{
			padding-right: rem-calc(10);
		}
	}
	.directions{
		margin-top: rem-calc(25);
		margin-bottom: rem-calc(50);
	}
}
/*===========FOOTER==========*/
footer{
	.colophon{
		.divider{
			padding: 0 rem-calc(20);
		}
	}
	.silverless {
	    margin-top: -5px;
	 
	    #logo {
	        height: 30px;
	    }

	    #silverless {
	        opacity:0.6;
	        transition:opacity 0.5s ease-in-out;
	    
	        path {
	            fill: white;
	        }
	    }

	    #created {
	        opacity:0;
	        transform: translateY(50px);
	        transition: 1s transform ease, 2s opacity ease;

	        path {
	            fill: white;
	        }
	    }

	    &:hover {
	        cursor:pointer;

	        #silverless {
	            opacity:0.8;
	        }

	        #created {
	              opacity:0.8;
	              transform: translateY(0);
	        }
	    }
	}
	.work-together{
		h2{
			text-transform:capitalize;
		}
	}
	.footer-seperator{
		min-height: rem-calc(100);
	}
}